.cabeçalho_menu-hamburguer{
    width: 24px;
    height: 24px;
    background-image: url("../img/Menu.svg");
    background-repeat: no-repeat;
    background-position: center;
    display: inline-block;

}

.cabeçalho{
    background-color: var(--branco);
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative; 
}

.container{
    display: flex;
    align-items: center;    
    ...cabeçalho
}
.container__imagem{
    padding: 1em;
}

.container__titulo{
    display: none;
    }

.lista-menu{
display: none;
top: 100%;
     }

.container__botao:checked~.lista-menu{
 display: block;
 }


@media screen and (min-width: 1024px){
    .container__titulo{
    font-family: var(--fonte-secundaria);
    font-size: 30px;
    font-weight: 400;
    display: block;
    }

    .container__titulo--negrito{
    font-weight: 700;
    }
}


